// ========================
//       bower:scss
//        endbower
// universal styling begins
// ========================
.browsehappy {
    margin: 0.25em;
    padding: 0.2em;
    color: #222222;
    background: #ffffff;
}
body {
    color: #222222;
    background: #ffffff;
    font-family: 'Open Sans', "Quicksand", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    & a {
        text-decoration: none;
    }
    & ul, li {
        list-style: none;
    }
}
input {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    color: #222222;
    border: 1px solid #dddddd;
}
input::-webkit-input-placeholder {
    color: #222222;
    font-size: 13px;
}
.clear {
    clear: both;
}
.button {
    display: inline-block;
    width: 70px;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #222222;
    border: 1px solid #dddddd;
    background-image: linear-gradient(to bottom, #e5e5e5 0%, #cccccc 100%);
}
// ========================
//  Universal Styling Ends
//   Tippy Top Menu Begins
// ========================

.top-menu-container {
    padding-top: 2px;
    padding-right: 11px;
    padding-left: 11px;
}
.top-menu-box {
    width: 100%;
    height: 16px;
    font-size: 10px;
}
.menu-left a {
    float: left;
    color: #555555;
    margin-right: 8px;
    margin-left: 1px;
    & a:hover {
        color: #000000;
        text-shadow: 0px 0px 1px #f5f5f5;
    }
}
.menu-right a {
    float: right;
    color: #555555;
    margin-right: 3px;
    margin-left: 6px;
    & a:hover {
        color: #000000;
        text-shadow: 0px 0px 1px #f5f5f5;
    }
}
// ========================
//    Tippy Top Menu Ends
//  Logo & Searchbar Begin
// ========================
.logo-searchbar-container {
    width: 100%;
    height: auto;
}
.logo {
    float: left;
    width: 460px;
    padding-left: 10px;
    padding-right: 15px;
}
.searchbar {
    padding-right: 10px;
    padding-top: 20px;
}
.searchbar-wrap span {
    display: block;
    overflow: hidden;
    & input[type=text] {
        width: 100%;
        height: 30px;
        line-height: 15px;
        padding-left: 5px;
        padding-right: 10px;
    }
}
.search-button {
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.search-button:hover {
    border: 1px solid #222222;
    background-color: #222222;
    background-image: none;
    color: #ffffff;
}
// ===================================
//        Logo & Searchbar End
//   5 Block Menu and Overlays Begin
// ===================================
.blocks-container {
    width: 100%;
    box-shadow: 0px 1px 4px 0px #000000;
}
.block {
    position: relative;
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
    background-size: cover;
    box-shadow: 0px 1px 4px 0px #000000;
}
.block1 {
    background-image: url("http://image.automobilemag.com/f/2014_lamborghini_aventador/61915371+w286+h179+cr1+ar0/2014_lamborghini_aventador_lp_700_4_roadster_ignition_button_detail.jpg");
}
.block2 {
    background-image: url("http://ak.picdn.net/shutterstock/videos/3163174/preview/stock-footage-writing-success-by-many-process-on-chalkboard.jpg");
}
.block3 {
    background-image: url("http://static.tumblr.com/db6d6056efbbc156f35c9967e7d9f14c/v56ekyk/b8Nmtsggm/tumblr_static_writing.jpg");
}
.block4 {
    background-image: url("https://dressagesnob.files.wordpress.com/2014/06/img_043441.jpg");
}
.block5 {
    background-image: url("http://www.drapekings.com/wp-content/uploads/2012/03/Darker-P1010716.jpg");
}
.five-block-text {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-family: "Quicksand";
}
.block:hover {
    & .five-block-text {
        text-shadow: 0px 0px 8px #000000;
    }
}
.red-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(205, 23, 19, 0.85);
}
.red-overlay:hover {
    background-color: rgba(2, 2, 2, 0.4);
}
// ================================
//  5 Block Menu and Overlays End
//        Main Menu Begins
// ================================
.lower-main-menu {
    clear: both;
    height: 20px;
    line-height: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #222222;
    box-shadow: 0px 1px 1px #999999;
}
.second-menu {
    float: left;
    font-size: 13px;
    color: #ffffff;
    padding-right: 10px;
}
.second-menu:hover {
    background-image: linear-gradient(to bottom, #000000 0%, #222222 100%);
    color: #ffffff;
}
// =============================
//      All Top Menus End
//  Home Page Gif & Text Begins
// =============================
.headerboard {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.headerboard-message {
    width: 100%;
    color: #ffffff;
    background-image: url("http://3.bp.blogspot.com/-UAyN14Mw74Q/UzsWkrq1_hI/AAAAAAAAMBg/7z65l9PXGFE/s1600/tumblr_static_tumblr_maoaubjog61re1a3so1_500.gif");
    background-size: cover;
}
// =======================================
//  Home Page Headerboard Gif & Text Ends
//            Sign-UP CTA Begins
// ======================================
.bodybox {
    position: relative;
    width: 100%;
    height: 225px;
    text-align: center;
}
.bodybox:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.bodybox-img img {
    padding-top: 20px;
    width: 60px;
}
.bodybox-text {
    padding: 25px 5px 35px 5px;
    font-size: 30px;
    font-family: "Quicksand";
    color: #222222;
}
.bodybox-button {
    width: 110px;
    height: 35px;
    font-size: 15px;
    line-height: 35px;
    color: #222222;
    border: 2px solid #222222;
    background-image: none;
}
.bodybox-button:hover {
    color: #ffffff;
    background-color: #222222;
}
.gain-readers {
    height: 198px;
}
.gain-readers-text {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: "Quicksand";
    color: #222222;
}
// =================================
//       Bodybox Styling Ends
//     Squarebox Styling Begins
// =================================
.squarebox {
    width: 100%;
    text-align: center;
}
.squarebox-size {
    position: relative;
    height: 200px;
    overflow: hidden;
}
.squarebox-size:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.squarebox-button:hover {
    color: #ffffff;
    border: 2px solid #cd1713;
    background-color: #cd1713;
}
.squarebox-text {
    font-family: "Quicksand";
    color: #ffffff;
    text-shadow: 0px 0px 8px #000000;
    font-size: 35px;
    margin-top: 60px;
}
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    background-color: rgba(205, 23, 19, 0.85);
}
.dark-overlay:hover {
    background-color: rgba(2, 2, 2, 0.8);
    transition: all 0.3s ease-in-out;
}
.one {
    width: 100%;
    height: 290px;
    background: url('http://wallpapersus.com/wp-content/uploads/2012/11/Mountain-Lake-HDR.jpg');
    background-size: cover;
}
.two {
    width: 100%;
    height: 235px;
    background: url('http://velograd.com/img/foto17b.jpg');
    background-size: cover;
}
.three {
    width: 100%;
    background: url('http://www.thisiscolossal.com/wp-content/uploads/2014/01/cohen-1.jpg');
    background-size: cover;
}
.left-right-button-container {
    width: 100%;
    height: 35px;
}
.squarebox-button {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 150px;
    color: #222222;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}
.squarebox-button:hover {
    color: #ffffff;
    border: 2px solid #cd1713;
    background-color: #cd1713;
}
// ================================
//     Square box Styling Ends
//   Bodybox Split Styling Begins
// =================================
.split-container {
    width: 100%;
    height: 160px;
    text-align: center;
}
.split {
    position: relative;
    float: left;
    height: 160px;
}
.split-A {
    width: 60%;
    background-color: #5e5e5e;
}
.split-B {
    width: 40%;
    background-color: #222222;
}
.split-C {
    width: 40%;
    background-color: #5e5e5e;
}
.split-D {
    width: 60%;
    background-color: #222222;
}
.split-box {
    line-height: 50px;
    padding-top: 27px;
    padding-left: 20px;
    padding-right: 20px;
}
.split-box:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.split-box-A {
    font-size: 60px;
}
.split-box-B {
    font-size: 30px;
}
.split-box-C {
    font-size: 60px;
}
.split-box-D {
    font-size: 30px;
}
.split-img img {
    padding-top: 20px;
    width: 60px;
}
.split-text {
    font-family: "Quicksand";
    color: #ffffff;
}
.split-button {
    width: 110px;
    height: 35px;
    font-size: 15px;
    line-height: 35px;
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #222222;
    background-image: none;
}
.split-button:hover {
    color: #ffffff;
    border: 2px solid #5e5e5e;
    background-color: #5e5e5e;
}
// =================================
//    Bodybox Split Styling Ends
//
// =================================
.category {
    height: 280px;
}
.categories {
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
.categories-text {
    font-size: 70px;
    margin-bottom: 13px;
}
.category-button {
    width: 180px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
    color: #ffffff;
    border: 2px solid #cd1713;
    background-color: #cd1713;
}
.category-button:hover {
    border: 2px solid #222222;
    background-color: #222222;
}
// =================================
//    Bodybox Split Styling Ends
//        Category Buttons
// =================================
.footer-menu-container {
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 6px;
    border-top: 1px solid #eeeeee;
}
.footer-menu-box {
    width: 100%;
    height: 16px;
    font-size: 10px;
}

@media screen and (max-width:850px) {
    .bodybox-sign-up-box {
        height: 120px;
    }
}

/* media query dude 850px */
@media screen and (max-width:645px) {
    .searchbar {
        clear: both;
        width: 97%;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 15px;
        margin-bottom: 8px;
    }
    .five-block-text {
        font-size: 17px;
    }
     .one {
        height: 260px;
        & .squarebox-text {
            font-size: 30px;
            padding-top: 15px;
            padding-right: 30px;
            padding-bottom: 0px;
            padding-left: 30px;
        }
    }
}

/* media query dude 645px */
@media screen and (max-width:500px) {
    .top-menu-container {
        padding-right: 7px;
        padding-left: 6px;
    }
    .logo {
        padding-left: 5px;
        width: 307px;
    }
    .searchbar {
        padding-left: 5px;
        padding-top: 0px;
        margin-bottom: 8px;
        width: 96%;
    }
    .lower-main-menu {
        padding-left: 6px;
        padding-right: 6px;
    }
    .second-menu {
        font-size: 12px;
    }
    .block {
        height: 30px;
        line-height: 30px;
    }
    .five-block-text {
        font-size: 13px;
    }
    .bodybox {
        height: 130px;
    }
    .one {
        height: 243px;
        & .squarebox-text {
            font-size: 23px;
            padding-top: 15px;
            padding-right: 30px;
            padding-bottom: 0px;
            padding-left: 30px;
        }
    }
    .footer-menu-box {
        padding-left: 1px;
        padding-right: 10px;
    }
}

/* media query dude 500px */