//   __  __     _                       __  ______       ___          
//  / / / /__  (_)  _____ _______ ___ _/ / / __/ /___ __/ (_)__  ___ _
// / /_/ / _ \/ / |/ / -_) __(_-</ _ `/ / _\ \/ __/ // / / / _ \/ _ `/
// \____/_//_/_/|___/\__/_/ /___/\_,_/_/ /___/\__/\_, /_/_/_//_/\_, / 
//                                               /___/         /___/  
.browsehappy {
    margin: 0.25em;
    padding: 0.2em;
    color: #333333;
}
body {
    height: 100%;
    color: #333333;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    } ul, li {
        list-style: none;
    }
}
button {
    font-size: 0.800em;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%);
}
button:hover {
    color: #ffffff;
    border: 1px solid #ab1210;
    background-image: linear-gradient(to bottom, #cd1713 0%, #ab1210 100%);

}
input {
    width: 95%;
    margin-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    height: 30px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    font-size: 0.800em;
    color: #333333;
}
input::-webkit-input-placeholder {
    padding-left: 2px;
    font-size: 0.900em;
    color: #333333;
}
textarea {
    font-size: 0.800em;
    color: #333333;
}
textarea::-webkit-input-placeholder {
    font-size: 0.900em;
    color: #333333;
}
.clear {
    clear: both;
}
.buttons {
    display: inline-block;
    width: 130px;
    height: 35px;
    line-height: 35px;
    margin-top: 25px;
    border-radius: 4px;
}
.button:hover {
    transition: 0.1s ease-in-out;
}
// Universal Styling Ends




//    __ __            __          __  ___                
//   / // /__ ___ ____/ /__ ____  /  |/  /__ ___  __ _____
//  / _  / -_) _ `/ _  / -_) __/ / /|_/ / -_) _ \/ // (_-<
// /_//_/\__/\_,_/\_,_/\__/_/   /_/  /_/\__/_//_/\_,_/___/                      
.header-default-padding {
    width: 100%;
    height: 46px;
    // background-color: blue;
}
.main-header {
    background-color: rgba(255, 255, 255, 0.94);
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0px 0px 4px #555555;
    a {
        color: #555555;
    } a:hover {
        color: #cd1713;
    }
}
.main-header-left {
    float: left;
    width: 30%;
    height: 45px;
    text-align: left;
}

.main-header-center {
    float: left;
    width: 40%;
    height: 45px;
    text-align: center;
}

.main-header-right {
    float: left;
    width: 30%;
    height: 45px;
    text-align: right;
}
.main-logo {
    font-size: 2.0em; 
    color: #cd1713;
    font-family: "Patua One";
    span {
        color: #252525;
    }
}
.header-link {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em; 
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    border: 2px solid #333333;
    color: #222222;
}
.header-link:hover {
    color: #ffffff;
    border: 2px solid #ab1210; 
    background-image: linear-gradient(to bottom, #cd1713 0%, #ab1210 100%);
}
.header-link-left {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
.header-link-right {
    margin-top: 8px;
    float: right;
    margin-right: 10px;
}
.header-link-logged-in {
    float: right;
}
.fa {
    margin-right: 20px;
}
.logged-in-menu-link {
    display: none;
}
.header-link-logged-in:hover {
    margin-top: 1px;
    height: auto;
    width: 150px;
    .logged-in-menu-link {
        display: block;
        text-align: left;
        padding-left: 10px;
        background-color: rgba(255, 255, 255, 0.99);
        border: 1px solid #cccccc;
    } .sign-out-menu-link {
        border-radius: 0px 0px 0px 4px;
    }
}
.logged-in-menu-link .fa {
    margin-right: 8px;
}
// Header Ends



//    __ __                 ___               
//   / // /__  __ _  ___   / _ \___ ____ ____ 
//  / _  / _ \/  ' \/ -_) / ___/ _ `/ _ `/ -_)
// /_//_/\___/_/_/_/\__/ /_/   \_,_/\_, /\__/ 
//                                 /___/    
.headerboard {
    width: 100%;
    text-align: center;
}
.headerboard-message {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 170px;
    color: #ffffff;
    background-image: url("http://3.bp.blogspot.com/-UAyN14Mw74Q/UzsWkrq1_hI/AAAAAAAAMBg/7z65l9PXGFE/s1600/tumblr_static_tumblr_maoaubjog61re1a3so1_500.gif");
    background-size: cover;
    text-shadow: 0px 0px 8px #000000;
    p {
        text-shadow: 0px 0px 8px #000000;
        margin-top: 60px;
        font-size: 2.0em;
    }
}
.headerboard-button {
    text-shadow: 0px 0px 0px #000000;
    margin-top: 40px;
    border-radius: 4px;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.headerboard-button:hover {
    border: 2px solid #ab1210;
    background-image: linear-gradient(to bottom, #cd1713 0%, #ab1210 100%);
}
// ===========================
//      Headerboard Ends
//    Bodybox Styling Begins
// ===========================
.bodybox {
    width: 100%;
    text-align: center;
}
.bodybox-one {
    font-size: 1.875em;
    height: 450px;
    padding-top: 70px;
    img {
        height: 60px; 
    } p {
        padding-bottom: 8px;
    } h6 {
        text-align: right;
        padding-top: 25px;
        margin-right: 400px;
    }
    .crowd {
        font-family: "Patua One";
        font-size: 1.5em; 
        color: #cd1713;
    } .disclosure {
        font-family: "Patua One";
        font-size: 1.5em; 
        color: #222222;
    } span {
        color: #cd1713;
    }
}    
.bodybox-two {
    height: 450px;
    background-color: #222222;
    color: #ffffff;
    .small {
        p {
            padding-top: 150px;
            font-size: 1.750em;
        }
    }
    p {
        font-size: 2.875em;
        padding-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
    } span {
        color: #5e5e5e;
    }
}
.bodybox-three {
    height: 260px;
    padding-top: 190px;
    font-size: 1.875em;
    p {
        line-height: 40px; 
        margin-right: 30px;
        margin-left: 30px;
    }
}
.bodybox-four {
    height: 450px;
    clear: both;
    p {
        padding-top: 200px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 1.875em;
    }
}
.bodybox-four-button {
    margin-top: 40px;
    border-radius: 4px;
    border: 2px solid #222222;
    color: #222222;
}
.bodybox-four-button:hover {
    color: #ffffff;
    background-image: linear-gradient(to bottom, #222222 0%, #222222 100%);
}
// ==============================================
//         All Bodybox Styling Ends
//  Default Squarebox and Overlay Styling Begin
// ==============================================
.squarebox {
    width: 100%;
    text-align: center;
}
.squarebox-size {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
    background: url("http://inkcreaimpresion.com/wp-content/uploads/2012/09/hipster-wallpapers-for-apple-16.jpeg");
    background-size: cover;
}
.squarebox-size-two {
    background: url("http://www.yewty.com/wp-content/uploads/2014/06/Venice-Beach1.jpg");
    background-size: cover;
}
.squarebox-size:hover {
    .squarebox-text-container {
        transform: scale(1.4);
        transition: all 0.4s ease-in-out;
    }
}
.squarebox-text-container {
    padding-top: 120px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 2.250em;
    color: #ffffff;
    text-shadow: 0px 0px 8px #000000;
}
.squarebox-text-container-two {
    padding-top: 160px;
}
.squarebox-button {
    margin-top: 105px;
    margin-right: 25px;
    margin-left: 25px;
    color: #ffffff; 
    border: 2px solid #ffffff; 
    border-radius: 4px;
}
.squarebox-button:hover {
    border: 2px solid #ab1210; 
    color: #ffffff;
    background-image: linear-gradient(to bottom, #cd1713 0%, #ab1210 100%);
}
// ============================
//   Squarebox Overlay Begins
// ============================
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(205, 23, 19, 0.90);
}
.dark-overlay:hover {
    background-color: rgba(2, 2, 2, 0.8);
    transition: all 0.1s ease-in-out;
}
// ==================================
//             Squarebox Ends
//   Split Container Styling Begins
// ==================================
.split-container {
    width: 100%;
    text-align: center;
}
.split-box:hover {
    transform: scale(0.9);
    transition: all 0.4s ease-in-out;
}
.split-A {
    float: left;
    width: 65%;
    height: 450px;
    background-color: #5e5e5e;
}
.split-text-A {
    color: #ffffff;
    height: 450px;
    p {
        font-size: 3.500em;
        padding-top: 180px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
.split-B {
    float: left;
    width: 35%;
    height: 450px;
    background-color: #222222;
    color: #ffffff;
    p {
        font-size: 1.875em;
        padding-top: 130px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
.split-box-button {
    margin-top: 70px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: #ffffff; 
}
.split-box-button:hover {
    border: 2px solid #ffffff; 
    color: #222222;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
// Home Page Ends



//    _____           __  __       ___               
//   / __(_)__ ____  / / / /__    / _ \___ ____ ____ 
//  _\ \/ / _ `/ _ \/ /_/ / _ \  / ___/ _ `/ _ `/ -_)
// /___/_/\_, /_//_/\____/ .__/ /_/   \_,_/\_, /\__/ 
//       /___/          /_/               /___/     
.sign-up-page {
    width: 100%;
    height: 100%;
}
.sign-up-page-container {
    width: 325px;
    margin: 0 auto;
}
.sign-up-page-box {
    padding: 20px;
    margin: 30px auto 0 auto;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    h3 {
        text-align: center;
        color: #cd1713;
        margin-bottom: 10px;
    }
}
// Sign Up Page Ends



//    _____           ____       ___               
//   / __(_)__ ____  /  _/__    / _ \___ ____ ____ 
//  _\ \/ / _ `/ _ \_/ // _ \  / ___/ _ `/ _ `/ -_)
// /___/_/\_, /_//_/___/_//_/ /_/   \_,_/\_, /\__/ 
//       /___/                          /___/ 
.sign-in-page {
    width: 100%;
    height: 100%;
}
.sign-in-page-container {
    width: 325px;
    margin: 0 auto;
}
.sign-in-page-box {
    padding: 20px;
    margin: 30px auto 0 auto;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    h3 {
        text-align: center;
        color: #cd1713;
        margin-bottom: 10px;
    }
}



//    ___                                 __  ___                  
//   / _ \___ ____ ____    _____  _______/ / / _ \___ ____ ____    
//  / ___/ _ `(_-<(_-< |/|/ / _ \/ __/ _  / / ___/ _ `/ _ `/ -_)   
// /_/   \_,_/___/___/__,__/\___/_/  \_,_/ /_/   \_,_/\_, /\__/    
//                                                   /___/     
.password-page {
    width: 100%;
    height: 100%;
}
.password-page-container {
    width: 325px;
    margin: 0 auto;
}
.password-page-box {
    padding: 20px;
    margin: 30px auto 0 auto;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    h3 {
        text-align: center;
        color: #cd1713;
        margin-bottom: 10px;
    }
}



//    ____    __  __  _                 ___               
//   / __/__ / /_/ /_(_)__  ___ ____   / _ \___ ____ ____ 
//  _\ \/ -_) __/ __/ / _ \/ _ `(_-<  / ___/ _ `/ _ `/ -_)
// /___/\__/\__/\__/_/_//_/\_, /___/ /_/   \_,_/\_, /\__/ 
//                        /___/                /___/ 
.settings-page {
    width: 100%;
    height: 100%;
}
.settings-container {
    width: 325px;
    margin: 20px auto 0 auto;
}
.settings-container-box {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    h3 {
        text-align: center; 
        color: #cd1713;
        margin-bottom: 10px;
    } input {
        margin-bottom: 5px;
        padding-left: 6px;
        padding-right: 6px;
        height: 30px;
        border: 1px solid #aaaaaa;
    } span {
        font-size: 0.700em;
    } img {
        border-radius: 4px;
    } textarea {
        width: 95%;
        max-width: 95%;
        height: 90px;
        margin-bottom: 5px;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;
        line-height: 17px;
        border-radius: 4px;
        border: 1px solid #aaaaaa;
    } .settings-birthday-input {
        font-size: 1.000em;
    }
}
.profile-photo-file-upload-box, .profile-banner-file-upload-box {
    input {
        border: 0px solid #ffffff;
    }
}
.gender-equality {
        width: 98%;
        height: 30px;
        line-height: 30px;
        text-align: left;
        padding-left: 5px;
        margin-bottom: 4px;
        border-radius: 4px;
        border: 1px solid #aaaaaa;
    input {
        width: 10%;
        height: 15px;
    } span {
        font-size: 0.800em;
    }
}

// Settings Page Ends



//    ___           __    ___               
//   / _ \___  ___ / /_  / _ \___ ____ ____ 
//  / ___/ _ \(_-</ __/ / ___/ _ `/ _ `/ -_)
// /_/   \___/___/\__/ /_/   \_,_/\_, /\__/ 
//                               /___/  
.post-page {
    width: 100%;
    height: 100%;
}
.post-container {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 300px;
    width: 50%;
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    h3 { 
        text-align: center;   
        color: #cd1713;
        margin-bottom: 10px;
    } img {
        border-radius: 4px;
        margin-bottom: 5px;
    } span {
        padding-left: 4px;
        font-size: 0.9em;
    }
}
.post-file-upload-box{
    input {
        font-size: 0.900em;
        border: 0px solid #ffffff;
    }
}
.post-title-input {
    width: 98%;
    font-size: 0.900em;
    border-radius: 0px;
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    border-bottom: 1px solid #aaaaaa;
}
.post-content-input {
    font-size: 0.900em;
    width: 98%;
    max-width: 98%;
    min-height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 17px;
    border: 0px solid #aaaaaa;
}
// Write Post Page Ends



//  ________              __             _ __  ___               
// /_  __/ /  __ ____ _  / /  ___  ___ _(_) / / _ \___ ____ ____ 
//  / / / _ \/ // /  ' \/ _ \/ _ \/ _ `/ / / / ___/ _ `/ _ `/ -_)
// /_/ /_//_/\_,_/_/_/_/_.__/_//_/\_,_/_/_/ /_/   \_,_/\_, /\__/ 
//                                                    /___/   
.thumbnail-page {
    width: 100%;
    height: 100%;
}
.thumbnail-page-container {
    padding-top: 15px;
    width: 90%;
    margin: 0 auto;
}
.thumbnail-columns {
    column-fill: auto;
    column-count: 5;
    column-gap: 15px;
}
.thumbnail-post {
    column-break-inside: avoid;
    display: inline-block;
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #cccccc;
    color: #555555;
    box-shadow: 0px 2px 4px -2px #222222;
}
.post-box {
    img {
        width: 100%;
        border-radius: 5px 5px 0px 0px;
        box-shadow: 0px 2px 4px -1px #bbbbbb;
    } a {
        color: #555555;
    } a:hover {
        color: #cd1713;
    } h3 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 8px;
    } p {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.thumbnail-post-content-p {
    a {
        color: #cd1713;
        font-size: 0.8em;
    }
}
.thumbnail-user-info {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.user-info-box {
    margin: 0 auto;
    width: 90%;
    border-top: 1px solid #cccccc;
    padding-top: 8px;
    img {
        float: left;
        width: 37px;
        height: 37px;
        margin-right: 10px;
        margin-bottom: 6px;
        border-radius: 100%; 
    } p {
        font-size: 14px;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    } a {
        color: #353535;
    } a:hover {
        color: #cd1713;
    } 
}
// Thumbnail Page Ends




//    ___      __       _ __  ___               
//   / _ \___ / /____ _(_) / / _ \___ ____ ____ 
//  / // / -_) __/ _ `/ / / / ___/ _ `/ _ `/ -_)
// /____/\__/\__/\_,_/_/_/ /_/   \_,_/\_, /\__/ 
//                                   /___/    
.detail-page {
    width: 100%;
    height: 100%;
    a {
        color: #cd1713;
    }
}
.detail-article-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 400px;
}
.detail-article-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaaaaa;
    h1 {
        padding-top: 5px;
        padding-bottom: 5px;
    } img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 4px; 
        box-shadow: 0px 2px 4px -2px #222222;
    } p {
        padding-left: 5px;
    }
}
.detail-profile-container {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px -1px #333333;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}
.detail-profile-box {
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 5px;
    h3 {
        margin-bottom: 5px;
        color: #333333;
    } a:hover {
        color: #333333;
    }
}
.detail-profile-box-image {
    width: 20%;
    clear: both;
    float: left;
    img {
        width: 100%;
    }
}
.detail-profile-box-about {
    width: 80%; 
    float: left;
    p {
        font-size: 0.800em;
        padding-left: 10px;
        padding-bottom: 10px;
    }
}
.detail-profile-box-stats {
    width: 100%;
    p {
        float: left;
        font-size: 0.9em;
    } button {
        height: auto;
        width: auto;
        padding: 5px 10px 5px 5px;
        margin-bottom: 8px;
        border-radius: 4px;
        color: #222222;
        border: 2px solid #222222;
        background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
        a {
            color: #222222;
        }
    } button:hover {
        color: #ffffff;
        border: 2px solid #ab1210;
        background-image: linear-gradient(to bottom, #cd1713 0%, #ab1210 100%);
        a {
            color: #ffffff;
        }
    }
}
// Detail Page Ends




//    ___           ____ __      ___               
//   / _ \_______  / _(_) /__   / _ \___ ____ ____ 
//  / ___/ __/ _ \/ _/ / / -_) / ___/ _ `/ _ `/ -_)
// /_/  /_/  \___/_//_/_/\__/ /_/   \_,_/\_, /\__/ 
//                                      /___/ 
.profile-page {
    width: 100%;
    height: 100%;
}
.profile-page-banner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 360px;
}
.profile-page-container {
    width: 90%;
    margin: 15px auto 0 auto;
}

.profile-user-container-left {
    float: left;
    position: absolute;
    top: 240px;
    width: 22%;
    a, h3 {
        color: #cd1713;
    }
}
.profile-image-name-box {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 4px 4px 0px 0px;
    p {
        font-size: 1.3em;
        padding-top: 3px;
        padding-bottom: 4px;
        color: #ffffff;
        text-align: center;
    }
}
.profile-user-container-left-box {
    padding-right: 5%;
    img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 4px -2px #555555;
    }
}
.profile-stat-buttons {
    p {
        font-size: 0.9em;
    } button {
        float: left;
        height: auto;
        padding: 5px;
        margin-bottom: 8px;
        margin-right: 8px;
        border-radius: 4px;
        color: #222222;
        border: 2px solid #222222;
        a {
            color: #222222;
        }
    } button:hover {
        color: #ffffff;
        border: 2px solid #ab1210;
        background-image: linear-gradient(to bottom, #cd1713 0%, #ab1210 100%);
        a {
            color: #ffffff;
        }
    }
}
.profile-contact-info {
    border-top: 1px solid #bbbbbb;
    clear: both;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
}
.profile-about-the-author {
    border-top: 1px solid #bbbbbb;
    padding-top: 10px;
    p {
        font-size: 0.8em;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }
}    
.profile-user-container-right {
    float: right;
    width: 77%;
    padding-bottom: 10px;
    a {
        color: #333333;
    }
}
.profile-user-container-right-box {
    width: 60%;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    h1 {
        padding-top: 5px;
        padding-bottom: 5px;
    } a:hover {
        color: #cd1713;
    } img {
        width: 100%;
        margin-bottom: 8px;
        border-radius: 4px;
    } p {
        line-height: 1.5;
        padding-left: 1px;
        padding-bottom: 50px;
        border-bottom: 1px solid #bbbbbb;
    }
}
// Profile Page Ends




//    ___       __  __              ___               
//   / _ |__ __/ /_/ /  ___  ____  / _ \___ ____ ____ 
//  / __ / // / __/ _ \/ _ \/ __/ / ___/ _ `/ _ `/ -_)
// /_/ |_\_,_/\__/_//_/\___/_/   /_/   \_,_/\_, /\__/ 
//                                         /___/  
.author-page {
    width: 100%;
    height: 100%;
}
.author-page-banner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 360px;
}
.author-page-container {
    width: 90%;
    margin: 15px auto 0 auto;
}

.author-user-container-left {
    float: left;
    position: absolute;
    top: 240px;
    width: 22%;
    a, h3 {
        color: #cd1713;
    }
}
.author-image-name-box {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 4px 4px 0px 0px;
    p {
        font-size: 1.3em;
        padding-top: 3px;
        padding-bottom: 4px;
        color: #ffffff;
        text-align: center;
    }
}
.author-user-container-left-box {
    padding-right: 5%;
    img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 4px -2px #555555;
    }
}
.author-stat-buttons {
    p {
        font-size: 0.9em;
    } button {
        float: left;
        height: auto;
        padding: 5px;
        margin-bottom: 8px;
        margin-right: 8px;
        border-radius: 4px;
        color: #222222;
        border: 2px solid #222222;
        a {
            color: #222222;
        }
    } button:hover {
        color: #ffffff;
        border: 2px solid #ab1210;
        background-image: linear-gradient(to bottom, #cd1713 0%, #ab1210 100%);
        a {
            color: #ffffff;
        }
    }
}
.author-contact-info {
    border-top: 1px solid #bbbbbb;
    clear: both;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
}
.author-about-the-author {
    border-top: 1px solid #bbbbbb;
    padding-top: 10px;
    p {
        font-size: 0.8em;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }
}    
.author-user-container-right {
    float: right;
    width: 77%;
    padding-bottom: 10px;
    a {
        color: #333333;
    }
}
.author-user-container-right-box {
    width: 60%;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    h1 {
        padding-top: 5px;
        padding-bottom: 5px;
    } a:hover {
        color: #cd1713;
    } img {
        width: 100%;
        margin-bottom: 8px;
        border-radius: 4px;
    } p {
        line-height: 1.5;
        padding-left: 1px;
        padding-bottom: 50px;
        border-bottom: 1px solid #bbbbbb;
    }
}
// Author Page Ends
















//    ____          __            ___               
//   / __/__  ___  / /____ ____  / _ \___ ____ ____ 
//  / _// _ \/ _ \/ __/ -_) __/ / ___/ _ `/ _ `/ -_)
// /_/  \___/\___/\__/\__/_/   /_/   \_,_/\_, /\__/ 
//                                       /___/      
.footer-container {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
    border-top: 1px solid #e5e5e5;
    bottom: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 7px;
    padding-right: 20px;
}
.footer-menu-box {
    width: 100%;
    font-size: 0.813em;
}
.menu-left a {
    float: left;
    color: #555555;
    margin-right: 10px;
    margin-left: 1px;
    a:hover {
        color: #000000;
        text-shadow: 0px 0px 1px #f5f5f5;
    }
}
.menu-right a {
    float: right;
    color: #555555;
    margin-right: 20px;
    margin-left: 1px;
    a:hover {
        color: #000000;
        text-shadow: 0px 0px 1px #f5f5f5;
    }
}
// Footer Ends




//    __  ___       ___        ____               _       
//   /  |/  /__ ___/ (_)__ _  / __ \__ _____ ____(_)__ ___
//  / /|_/ / -_) _  / / _ `/ / /_/ / // / -_) __/ / -_|_-<
// /_/  /_/\__/\_,_/_/\_,_/  \___\_\_,_/\__/_/ /_/\__/___/
//
@media screen and (max-width:1700px) {
    .thumbnail-columns {
        column-count: 7;
    }
}
// 1700px Media Query Ends
// =======================




@media screen and (max-width:1575px) {
    .thumbnail-columns {
        column-count: 6;
    }
}
// 1575px Media Query Ends
// =======================



@media screen and (max-width:1450px) {
    .thumbnail-columns {
        column-count: 5;
    }
}
// 1450px Media Query Ends
// =======================



@media screen and (max-width:1136px) {
    .thumbnail-columns {
        column-count: 4;
    }
}
// 1136px Media Query Ends
// =======================



@media screen and (max-width:1100px) {
    .post-container {
        width: 65%;
    }
}
// 1100px Media Query Ends
// =======================



@media screen and (max-width:1050px) {
    .bodybox-two {
    .small {
        p {
            padding-top: 130px;
            font-size: 1.750em;
        }
    }
}
    .post-container {
        width: 65%;
    }
}
// 1050px Media Query Ends
// =======================



@media screen and (max-width:980px) {
    .thumbnail-columns {
        column-count: 3;
    }
    .squarebox-size:hover {
        .squarebox-text-container {
            transform: scale(1.2);
        }
    }
    .post-container {
        width: 75%;
    }
}
// 980px Media Query Ends
// ======================




@media screen and (max-width:905px) {
    .split-text-A {
        p {
            padding-top: 140px;
        }
    }
    .split-B {
        p {
            padding-top: 100px;
        }
    }
    .profile-page-banner-container {
        position: inherit;
    }
    .profile-user-container-left {
        position: relative;
        width: 100%;
        top: -160px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bbbbbb;
    }
    .profile-user-container-left-box {
        padding-right: 0%;
        border-right: 0px solid #e5e5e5;
        .profile-image-name-box {
            width: 55%;
        }
        img {
            width: 55%;
            float: left;
            margin-bottom: 30px;
        }
    }
    .profile-stat-buttons {
        p {
            font-size: 0.8em;
        } button {
            width: 37%;
            margin-top: 10px;
            margin-bottom: 0px;
            margin-left: 10px;
            float: right; 
        }
    }
    .profile-about-the-author {
        border-top: 1px solid #bbbbbb;
        padding-top: 10px;
        h3 {
            padding-top: 10px;
        } p {
            margin-bottom: 15px;
            padding-bottom: 0px;
            clear: both;
        }
    }  
    .profile-user-container-right {
        width: 100%;
        height: auto;
        margin-top: -140px;
    }
    .profile-user-container-right-box {
        width: 95%;
        p {
            padding-bottom: 40px;
        }
    }
    .author-page-banner-container {
        position: inherit;
    }
    .author-user-container-left {
        position: relative;
        width: 100%;
        top: -160px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bbbbbb;
    }
    .author-user-container-left-box {
        padding-right: 0%;
        border-right: 0px solid #e5e5e5;
        .author-image-name-box {
            width: 55%;
        }
        img {
            width: 55%;
            float: left;
            margin-bottom: 30px;
        }
    }
    .author-stat-buttons {
        p {
            font-size: 0.8em;
        } button {
            width: 37%;
            margin-top: 10px;
            margin-bottom: 0px;
            margin-left: 10px;
            float: right; 
        }
    }
    .author-about-the-author {
        border-top: 1px solid #bbbbbb;
        padding-top: 10px;
        h3 {
            padding-top: 10px;
        } p {
            margin-bottom: 15px;
            padding-bottom: 0px;
            clear: both;
        }
    }  
    .author-user-container-right {
        width: 100%;
        height: auto;
        margin-top: -140px;
    }
    .author-user-container-right-box {
        width: 95%;
        p {
            padding-bottom: 40px;
        }
    }
}
// 905px Media Query Ends
// ======================






@media screen and (max-width:750px) {
    .thumbnail-columns {
        column-count: 2;
    }
    .split-text-A {
        p {
            padding-top: 110px;
        }
    }
    .split-B {
        p {
            padding-top: 90px;
        }
    }
}
// 750px Media Query Ends
// =======================



@media screen and (max-width:700px) {
    .detail-article-container {
        width: 90%;
    }
    .detail-profile-box-image {
        width: 60%;
        float: left;
        clear: none;
        img {
            width: 100%;
        }
    }
    .detail-profile-box-about {
        width: 100%; 
        float: left;
        p {
            padding-left: 5px;
        }
    }
    .detail-profile-box-stats {
        width: 37%;
        float: right;
        text-align: left;
        margin-left: 10px;
    }
}
// 700px Media Query Ends
// =======================



@media screen and (max-width:665px) {
    .bodybox-one {
        height: 400px;
        padding-top: 120px;
        font-size: 1.4em;
        p {
        
        } img {
            height: 50px; 
        } h6 {
            margin-right: 30px;
        }
    }
    .detail-article-container {
        width: 100%;
    }
}



@media screen and (max-width:575px) {
    .bodybox-two {
        .small {
            p {
                padding-top: 70px;
                font-size: 1.750em;
            }
        }
        p {
            font-size: 2.875em;
            padding-top: 30px;
            margin-right: 30px;
            margin-left: 30px;
        }
    }
    .bodybox-four {
        height: 450px;
        p {
            padding-top: 140px;
            margin-left: 30px;
            margin-right: 30px;
            font-size: 1.875em;
        }
    }
    .split-text-A {
        p {
            font-size: 3.00em;
            padding-top: 100px;
        }
    }
    .split-B {
        p {
            font-size: 1.2em;
            padding-top: 100px;
        }
    }
    .split-box-button {
        width: 90px;
    }
}
// 575px Media Query Ends
// =======================



@media screen and (max-width:500px) {
    .detail-article-container {
        width: 100%;
    }
    .detail-profile-box-stats {
        width: 47%;
    }
    .detail-profile-box-image {
        width: 50%;
    }
    .thumbnail-columns {
        column-count: 1;
    }
}
// 500px Media Query Ends
// =======================