// ==========================
// bower:scss
// endbower
// ==========================
//  Universal Styling Begins
// ==========================
.browsehappy {
    margin: 0.25em;
    padding: 0.2em;
    color: #222222;
    background: #ffffff;
}
body {
    color: #222222;
    background: #ffffff;
    font-family: 'Open Sans', "Quicksand", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    & a {
        text-decoration: none;
    }
    & ul, li {
        list-style: none;
    }
}
input {
    height: 25px;
    line-height: 25px;
    font-size: 0.813em;
    color: #222222;
    border: 1px solid #dddddd;
}
input::-webkit-input-placeholder {
    color: #222222;
    font-size: 0.813em;
}
.clear {
    clear: both;
}
.button {
    display: inline-block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 1.000em;
    color: #222222;
    border: 1px solid #dddddd;
    background-image: linear-gradient(to bottom, #e5e5e5 0%, #cccccc 100%);
}
.button:hover {
    transition: 0.1s ease-in-out;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    margin: auto;
    z-index: 10000;
    background-color: #ffffff;
}
.header-default-padding {
    width: 100%;
    height: 150px;
    background-color: blue;
}
// ========================
//  Universal Styling Ends
//   Tippy Top Menu Begins
// ========================
.top-container {
    padding-left: 7px;
    padding-right: 9px;
    line-height: 30px;
}
.top-menu-box {
    height: 30px;
    width: 100%;
    // font-size: 0.813em;
}
.menu-left a {
    float: left;
    color: #555555;
    margin-right: 10px;
    margin-left: 1px;
    & a:hover {
        color: #000000;
        text-shadow: 0px 0px 1px #f5f5f5;
    }
}
.menu-right a {
    float: right;
    color: #555555;
    margin-right: 3px;
    margin-left: 10px;
    & a:hover {
        color: #000000;
        text-shadow: 0px 0px 1px #f5f5f5;
    }
}
// ========================
//    Tippy Top Menu Ends
//  Logo & Searchbar Begin
// ========================
.logo-searchbar-container {
    width: 100%;
    height: auto;
}
.logo {
    float: left;
    width: 460px;
    padding-left: 10px;
    padding-right: 15px;
}
.searchbar {
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 9px;
}
.searchbar-wrap span {
    display: block;
    overflow: hidden;
    & input[type=text] {
        width: 100%;
        height: 30px;
        line-height: 15px;
        padding-left: 5px;
        padding-right: 10px;
    }
}
.search-button {
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-shadow: 0px 1px 2px 1px #222222;
}
.search-button:hover {
    border: 1px solid #222222;
    background-color: #222222;
    background-image: none;
    color: #ffffff;
}
// =================================================
//               Logo & Searchbar End
//   Default Block Menu and Overlay Styling Begins
// =================================================
.block-menu-container {
    width: 100%;
    height: 40px;
    box-shadow: 0px 1px 4px 0px #000000;
}
.block {
    position: relative;
    float: left;
    width: 25%;
    height: 40px;
    line-height: 40px;
    background-size: cover;
    box-shadow: 0px 1px 4px 0px #000000;
}
.block-text {
    color: #ffffff;
    text-align: center;
    font-size: 1.500em;
    font-family: "Quicksand";
}
.block:hover {
    & .block-text {
        text-shadow: 0px 0px 8px #000000;
    }
}
.red-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(205, 23, 19, 0.90);
}
.red-overlay:hover {
    background-color: rgba(2, 2, 2, 0.4);
    transition: 0.1s ease-in-out;
}
// ===============================================
//   Default Block Menu and Overlay Styling Ends
//          1-off Block Styling Begins
// ===============================================
.block1 {
    background-image: url("http://images.nationalgeographic.com/wpf/media-live/photos/000/000/cache/western-road-dale_6_600x450.jpg");
}
.block2 {
    background-image: url("http://static.tumblr.com/db6d6056efbbc156f35c9967e7d9f14c/v56ekyk/b8Nmtsggm/tumblr_static_writing.jpg");
}
.block3 {
    background-image: url("http://fc01.deviantart.net/fs70/i/2012/253/e/1/old_typewriter_by_chrisworld2000-d5e7s5b.jpg");
}
.block4 {
    background-image: url("http://www.clubbing9ine.com/wp-content/gallery/green-wallpaper/hd-wallpaper-green-forest-with-road.jpg");
}
// =========================
//   1-off Block Menus Ends
//      Main Menu Begins
// =========================
.lower-main-menu {
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-color: #222222;
}
.second-menu {
    font-size: 0.813em;
    color: #ffffff;
    padding-right: 15px;
    padding-left: 15px;
}
.second-menu-a {
    float: left;
}
.second-menu-b {
    float: right;
}
.second-menu:hover {
    background-image: linear-gradient(to bottom, #000000 0%, #222222 100%);
    color: #ffffff;
    transition: 0.1s ease-in-out;
}
// =============================
//      All Top Menus End
// =============================











// // =============================
// //    home-page begins here
// // =============================
// .headerboard {
//     width: 100%;
//     text-align: center;
// }
// .headerboard-message {
//     width: 100%;
//     color: #ffffff;
//     background-image: url("http://3.bp.blogspot.com/-UAyN14Mw74Q/UzsWkrq1_hI/AAAAAAAAMBg/7z65l9PXGFE/s1600/tumblr_static_tumblr_maoaubjog61re1a3so1_500.gif");
//     background-size: cover;
// }
// // =======================================
// //  Home Page Headerboard Gif & Text Ends
// //      Default Bodybox Styling Begins
// // ======================================
// .bodybox {
//     position: relative;
//     width: 100%;
//     height: 230px;
//     text-align: center;
// }
// .bodybox-size:hover {
//     transform: scale(0.98);
//     transition: all 0.3s ease-in-out;
// }
// .bodybox-text {
//     padding-top: 90px;
//     padding-left: 30px;
//     padding-right: 30px;
//     font-size: 1.875em;
//     font-family: "Quicksand";
//     color: #222222;
// }
// .bodybox-button {
//     margin-top: 30px;
//     width: 130px;
//     height: 35px;
//     line-height: 35px;
//     color: #222222;
//     border: 2px solid #222222;
//     background-color: #ffffff;
//     background-image: none;
// }
// .bodybox-button:hover {
//     color: #ffffff;
//     border: 2px solid #cd1713;
//     background-color: #cd1713;
// }
// .bodybox-img img {
//     padding-top: 20px;
//     width: 60px;
// }
// // ================================
// //   Default Bodybox Styling Ends
// //   1-off Bodybox Styling begins
// // ================================
// .bodybox-writer {
//     height: 250px;
// }
// .bodybox-size-writer:hover {
//     transform: none;
//     transition: none;
// }
// .bodybox-text-a {
//     padding-top: 35px;
//     padding-left: 30px;
//     padding-right: 30px;
//     font-size: 1.875em;
//     font-family: "Quicksand";
//     color: #222222;
// }
// // ==================================
// //        All Bodybox Styling 
// //  Category Buttons Styling Begins
// // ==================================
// .categories-button {
//     width: 180px;
//     margin-left: 2px;
//     margin-right: 2px;
//     margin-bottom: 8px;
//     color: #ffffff;
//     border: 2px solid #cd1713;
//     background-color: #cd1713;
//     box-shadow: 0px 1px 2px 1px #222222;
// }
// .categories-button:hover {
//     border: 2px solid #222222;
//     background-color: #222222;
//     transform: scale(1.02);
//     transition: all 0.1s ease-in-out;
// }
// // ==============================================
// //       Category Buttons Styling Begins
// //  Default Squarebox and Overlay Styling Begin
// // ==============================================
// .squarebox {
//     width: 100%;
//     text-align: center;
// }
// .squarebox-size {
//     position: relative;
//     overflow: hidden;
// }
// .squarebox-size:hover {
//     & .squarebox-text-container {
//         transform: scale(1.07);
//         transition: all 0.3s ease-in-out;
//     }
// }
// .squarebox-text-container {
//     padding-top: 40px;
//     padding-left: 40px;
//     padding-right: 40px;
//     font-size: 2.250em;
//     font-family: "Quicksand";
//     color: #ffffff;
//     text-shadow: 0px 0px 8px #000000;
//     & p {
//         padding: 20px;
//     }
// }
// .squarebox-button-container {
//     width: 100%;
//     height: 35px;
// }
// .squarebox-button {
//     margin-top: 25px;
//     margin-right: 10px;
//     margin-left: 10px;
//     border: 2px solid #ffffff;
// }
// .dark-overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(205, 23, 19, 0.90);
// }
// .dark-overlay:hover {
//     background-color: rgba(2, 2, 2, 0.8);
//     transition: all 0.3s ease-in-out;
// }
// // =============================================
// //  Default Squarebox and Overlay Styling Ends
// //     1off Squarebox Styling Styling Begins
// // =============================================
// .squarebox-size-one {
//     width: 100%;
//     height: 338px;
//     background: url('http://wallpapersus.com/wp-content/uploads/2012/11/Mountain-Lake-HDR.jpg');
//     background-size: cover;
// }
// .squarebox-size-two {
//     width: 100%;
//     height: 235px;
//     background: url('http://velograd.com/img/foto17b.jpg');
//     background-size: cover;
//     & .squarebox-text-container {
//         padding-top: 65px;
//         padding-left: 40px;
//         padding-right: 40px;
//     }
// }
// // ========================================
// //   1off Squarebox Styling Styling Ends
// //  Default Split Container Styling Begins
// // ========================================
// .split-container {
//     width: 100%;
//     height: 180px;
//     text-align: center;
// }
// .split {
//     float: left;
// }
// .split-box:hover {
//     transform: scale(0.99);
//     transition: all 0.3s ease-in-out;
// }
// .split-box-img img {
//     width: 60px;
// }
// .split-text {
//     font-family: "Quicksand";
//     color: #ffffff;
// }
// // =======================================
// //  Default Split Container Styling Ends
// //   1-off Split Container Styling Begins
// // ========================================
// .split-A {
//     width: 65%;
//     height: 180px;
//     background-color: #5e5e5e;
//     & p {
//         padding: 43px 20px;
//     }
// }
// .split-B {
//     width: 35%;
//     height: 180px;
//     background-color: #222222;
//     & p {
//         padding-top: 20px;
//         padding-left: 30px;
//         padding-right: 30px;
//     }
// }
// .split-C {
//     width: 42%;
//     height: 180px;
//     background-color: #222222;
//     & p {
//         padding-top: 12px;
//     }
// }
// .split-D {
//     width: 58%;
//     height: 180px;
//     background-color: #5e5e5e;
//     & p {
//         padding-top: 35px;
//         padding-left: 20px;
//         padding-right: 20px;
//     }
// }
// .split-text-A {
//     height: 180px;
//     font-size: 3.750em;
// }
// .split-text-B {
//     height: 180px;
//     & p {
//         font-size: 1.875em;
//     }
//     & .split-box-B-button {
//         font-family: "Open Sans";
//     }
// }
// .split-text-C {
//     height: 180px;
//     font-size: 3.750em;
// }
// .split-text-D {
//     height: 180px;
//     font-size: 1.875em;
// }
// // ===================================================
// //         1-off Split Container Styling Begins
// //  Default Category Button Styling & Overlay Begins
// // ===================================================
// .category-container {
//     width: 100%;
//     height: 120px;
//     box-shadow: 0px 1px 4px 0px #000000;
// }
// .category-button {
//     position: relative;
//     float: left;
//     width: 16.66%;
//     height: 40px;
//     margin: 0 auto;
//     text-align: center;
//     line-height: 40px;
//     box-shadow: 0px 1px 4px 0px #000000;
// }
// .category-button:hover {
//     & .category-text {
//         text-shadow: 0px 0px 8px #000000;
//     }
// }
// .red-overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(205, 23, 19, 0.90);
// }
// .red-overlay:hover {
//     background-color: rgba(34, 34, 34, 1);
//     transition: 0.1s ease-in-out;
// }
// .category-text {
//     text-align: center;
//     font-size: 1.000em;
//     color: #ffffff;
// }
// // ================================================
// //   1-off Category Button Styling & Overlay Ends
// // ================================================




// // ============================
// //    Thumbnail Page Begins
// // ============================
// .thumbnail-page {
//     width: 100%;
//     height: 100%;
//     background-color: #e5e5e5;
// }

// .thumbnail-page-container {
//     width: 90%;
//     padding: 20px;
//     margin: 0 auto;
// }

// .thumbnail-columns {
//     column-count: 5;
//     column-gap: 15px;
//     column-fill: auto;
// }

// .thumbnail-post {
//     display: inline-block;
//     margin-bottom: 15px;
//     column-break-inside: avoid;
//     background: #ffffff;
//     border: 1px solid #d5d5d5;
//     border-radius: 0px 0px 6px 6px;
//     box-shadow: 0px 3px 7px -4px #888888;
//     img {
//         width: 100%;

//     } h3 {
//         padding-left: 10px;
//         padding-right: 10px;
//         padding-bottom: 5px;
//     } p {
//         padding-left: 10px;
//         padding-right: 10px;
//         padding-bottom: 7px;
//         font-size: 15px;
//     }
// }

// .thumbnail-user-info {
//     width: 100%;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     border-top: 1px solid #e7e7e7;
//     img {
//         float: left;
//         width: 35px;
//         height: 35px;
//         padding-right: 5px;
//         padding-left: 10px;
//         border-radius: 100%; 
//     } p {
//         font-size: 14px;
//         padding-top: 0px;
//         padding-left: 0px;
//         padding-bottom: 0px;
//         padding-right: 0px;
//     } a {
//         color: #cd1713;
//     } h6 {
//         color: #cd1713;
//     }
// }

// @media (max-width: 1100px) {
//     .thumbnail-columns {
//         column-count: 4;
//     }
// }
// @media (max-width: 900px) {
//     .thumbnail-columns {
//         column-count: 3;
//     }
// }

// @media (max-width: 750px) {
//     .thumbnail-columns {
//         column-count: 2;
//     }
// }
// // ============================
// //    Thumbnail Page Ends
// // ============================


// // ============================
// //     Signin Page Begins
// // ============================
// .signin-page {
//     width: 100%;
//     height: 100%;
//     margin: 0 auto;
// }

// .signin-page-container {
//     width: 325px;
//     padding: 25px;
//     margin: 10% auto 0 auto;
//     border: 1px solid #e5e5e5;
// }
// input {
//     width: 96%;
//     margin-bottom: 5px;
//     padding-left: 6px;
//     padding-right: 6px;
//     height: 30px;
//     font-size: 0.90em;
// }
// button {
//     width: 100%;
//     height: 30px;
//     margin-bottom: 5px;
//     font-size: 0.950em;
// }

// input::-webkit-input-placeholder {
//     color: #5e5e5e;
//     padding-left: 2px;
// }

// textarea::-webkit-input-placeholder {
//     color: #222222;
//     padding-left: 2px;
// }
// // ============================
// //       Signin Page Ends
// // ============================



// // ============================
// //     Signup Page Begins
// // ============================
// .signup-page {
//     width: 100%;
//     height: 100%;
//     margin: 0 auto;
// }
// .signup-page-container {
//     width: 325px;
//     padding: 25px;
//     margin: 10% auto 0 auto;
//     border: 1px solid #e5e5e5;
// }
// input {
//     width: 96%;
//     margin-bottom: 5px;
//     padding-left: 6px;
//     padding-right: 6px;
//     height: 30px;
//     font-size: 0.90em;
// }
// button {
//     width: 100%;
//     height: 30px;
//     margin-bottom: 5px;
//     font-size: 0.950em;
// }

// input::-webkit-input-placeholder {
//     color: #5e5e5e;
//     padding-left: 2px;
// }

// textarea::-webkit-input-placeholder {
//     color: #222222;
//     padding-left: 2px;
// }
// // ============================
// //       Signup Page Ends
// // ============================


// // ============================
// //     Settings Page Begins
// // ============================
// .settings-page {
//     width: 100%;
//     height: 100%;
//     margin: 0 auto;
// }
// .settings-container {
//     width: 325px;
//     padding: 25px;
//     margin: 0 auto;
//     border: 1px solid #e5e5e5;
//     h3 {
//         color: #cd1713;
//     }
// }
// textarea {
//     width: 310px;
//     max-width: 310px;
//     height: 90px;
//     margin-top: 5px;
//     margin-bottom: 5px;
//     padding-top: 6px;
//     padding-left: 6px;
//     padding-right: 6px;
//     line-height: 17px;
//     font-size: 0.90em;
//     color: #222222;
// }
// textarea::-webkit-input-placeholder {
//     color: #222222;
//     padding-left: 2px;
// }
// button {
//     width: 100%;
//     height: 30px;
//     margin-bottom: 5px;
//     font-size: 0.950em;
// }
// // ============================
// //       Settings Page Ends
// // ============================


// // ============================
// //       Write Post Begins
// // ============================
// .write-post-page {
//     width: 100%;
//     height: 100%;
//     margin: 0 auto;
// }
// .write-post-container {
//     width: 55%;
//     padding: 10px 25px;
//     margin: 10px auto 0 auto;
//     border: 1px solid #e5e5e5;
//     h3 {
//         color: #cd1713;
//         margin-bottom: 5px;
//     }
// }
// .file-uploader {
//     border: 0px solid #ffffff;
// }
// .post-input {
//     width: 98%;
//     max-width: 98%;
//     height: 300px;
//     margin-top: 5px;
//     margin-bottom: 5px;
//     padding-top: 6px;
//     padding-left: 6px;
//     padding-right: 6px;
//     line-height: 17px;
//     font-size: 0.90em;
//     color: #222222;
// }
// textarea::-webkit-input-placeholder {
//     color: #222222;
//     padding-left: 2px;
// }
// button {
//     width: 100%;
//     height: 30px;
//     margin-bottom: 5px;
//     font-size: 0.950em;
// }
// // ============================
// //      Write Post Page Ends
// // ============================


// .upload-main {
//     text-align: center;
//     margin-bottom: 50px;
// }
// .upload-container {
//     margin: 7px auto 0 auto;
//     width: 72%;
//     border: 1px solid #e5e5e5;
// }
// .upload-box {
//     padding: 10px;
// }
// .file-uploader {
//     float: left;
//     margin-left: -1px;
//     color: #222222;
// }
// .caption-field {
//     width: 100%;
// }
// textarea::-webkit-input-placeholder {
//     color: #151515;
// }




// // ============================
// //     Detail Page Begins
// // ============================
// .detail-page {
//     width: 100%;
//     height: 100%;
//     margin: 0 auto;
//     color: #222222;
//     a {
//         color: #cd1713;
//     }
// }
// .detail-article-container {
//     width: 700px;
//     margin: 0 auto;
//     padding-top: 20px;
// }
// .detail-article-box {
//     padding-left: 20px;
//     padding-right: 20px;
//     padding-bottom: 20px;
//     border-bottom: 1px solid #e5e5e5;
//     h1 {
//         padding-top: 5px;
//         padding-bottom: 5px;
//     }
//     img {
//         width: 100%;
//         margin-bottom: 10px; 
//         box-shadow: 0px 3px 7px -4px #222222;
//     }
//     p {
//         padding-left: 5px;
//     }
// }
// .detail-profile-container {
//     width: 100%;
//     border: 1px solid #cccccc;
//     margin-top: 20px;
// }
// .detail-profile-box {
//     padding-left: 1%;
//     padding-right: 1%;
//     padding-top: 5px;
//     background-color: #dddddd;
//     h3{
//         margin-bottom: 5px;
//     }
// }
// .detail-profile-box-image {
//     width: 20%;
//     clear: both;
//     float: left;
//     img {
//         width: 100%;
//     }
// }
// .detail-profile-box-about {
//     width: 80%; 
//     float: left;
//     p {
//         padding-left: 10px;
//         padding-bottom: 10px;
//     }
// }
// .detail-profile-box-stats {
//     width: 100%;
//     p {
//         float: left;
//     }
//     button {
//         padding: 5px;
//         margin-bottom: 5px;
//     }
// }
// // ============================
// //     Detail Page Ends
// // ============================



// ============================
//     Profile Page Begins
// ============================
.profile-user-page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #222222;
    a, h3 {
        color: #cd1713;
    }
}
.profile-user-page-container {
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
}

.profile-user-container-left {
    float: left;
    width: 30%;
    padding-bottom: 10px;
}
.profile-user-container-left-box {
    padding-right: 5%;
    border-right: 1px solid #e5e5e5;
    img {
        width: 100%;
        margin-bottom: 10px;
    }
}
.stat-buttons {
    padding-bottom: 10px;
    button {
        padding: 5px;
        margin-bottom: 5px;
    }
}
.about-the-author {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    p {
        margin-bottom: 15px;
        padding-bottom: 5px;
        
    }
}    
.profile-user-container-right {
    float: left;
    width: 70%;
    height: 500px;
    overflow: scroll;
    padding-bottom: 10px;
}
.profile-user-container-right-box {
    width: 60%;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    h1 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    img {
        width: 100%;
    }
    p {
        padding-left: 5px;
        padding-bottom: 50px;
        border-bottom: 1px solid #e5e5e5;
    }
}
// ============================
//     Profile Page Ends
// ============================
































// ============================
//    Footer Styling Begins
// ============================
.footer-container {
    padding-left: 7px;
    padding-right: 9px;
    height: 30px;
    line-height: 30px;
}
.footer-menu-box {
    width: 100%;
    font-size: 0.813em;
}
// ============================
//    Footer Styling Ends
// ============================

@media screen and (max-width:1220px) {
    .split-C {
        & p {
            padding-top: 23px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .split-D {
        & p {
            padding-top: 30px;
        }
    }
    .split-text-C {
        font-size: 3.100em;
    }
}



// ============================
//   1136px Media Query Begins
// ============================
@media screen and (max-width:1136px) {
    .squarebox-size-one {
        & .squarebox-text-container {
            padding-top: 20px;
        }
    }
}



// ============================
//  1100px Media Query Begins
// ============================
@media screen and (max-width:1100px) {
    .split-A {
        & p {
            padding-top: 12px;
        }
    }
    .split-C {
        & p {
            padding-top: 5px;
        }
    }
    .split-text-C {
        font-size: 2.900em;
    }
    .category-button {
        width: 33.33%;
    }
}



// ===========================
//  980px Media Query Begins
// ===========================
@media screen and (max-width:980px) {
    .split-A {
        & p {
            padding-top: 20px;
        }
    }
    .split-text-A {
        font-size: 3.20em;
    }
    .split-text-B {
        height: 180px;
        & p {
            font-size: 1.500em;
        }
    }
    .split-box-B-button {
        padding-top: 0px;
    }
    .bodybox-text {
        padding-top: 70px;
    }
    .bodybox-text-b {
        padding-top: 90px;
    }
}



// ===========================
//  800px Media Query Begins
// ===========================
@media screen and (max-width:800px) {
    .split-A {
        & p {
            padding: 26px 8px;
        }
    }
    .split-B {
        & p {
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .split-text-A {
        font-size: 3.000em;
    }
    .split-box-B-button {
        margin-top: 8px;
    }
    .split-C {
        & p {
            padding-top: 15px;
        }
    }
    .split-D {
        & p {
            padding-top: 25px;
        }
    }
    .split-text-C {
        font-size: 2.500em;
    }
    .split-text-D {
        font-size: 1.650em;
    }
}


// ============================
//  750px Media Query Begins
// ===========================
@media screen and (max-width:750px) {

}


// ============================
//  700px Media Query Begins
// ===========================
@media screen and (max-width:700px) {
    .searchbar {
        clear: both;
        padding-left: 5px;
        padding-top: 6px;
        margin-bottom: 2px;
        width: 95%;
    }
    .header-default-padding {
        height: 194px;
    }
    .squarebox-size-one {
        & .squarebox-text-container {
            padding-top: 5px;
        }
    }
    .squarebox-size-two {
        & .squarebox-text-container {
            padding-top: 15px;
            padding-left: 45px;
            padding-right: 45px;
        }
    }
    .split-text-C {
        font-size: 2.300em;
    }
        .detail-article-container {
        width: 90%;
    }
    .detail-profile-box-stats {
        width: 40%;
        float: right;
        p {
            float: left;
        }
        button {
            padding: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
        }
    }
    .detail-profile-box-image {
        width: 60%;
        float: left;
        clear: none;
        img {
            width: 100%;
        }
    }
    .detail-profile-box-about {
        width: 100%; 
        float: left;
        p {
            padding-left: 5px;
        }
    }

}



// ============================
//  650px Media Query Begins
// ===========================
@media screen and (max-width:665px) {
    .squarebox-size-one {
        height: 350px;
        & .squarebox-text-container {
            padding-top: 0px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 2.000em;
        }
    }
    .split-C {
        & p {
            padding-top: 25px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .split-D {
        & p {
            padding-top: 25px;
        }
    }
    .split-text-C {
        font-size: 1.600em;
    }
    .split-text-D {
        font-size: 1.500em;
    }
    .split-box-img img {
        width: 30px;
    }
    .category-button {
        width: 50%;
    }
     .bodybox-text {
        padding-top: 60px;
    }
    .bodybox-text-b {
        padding-top: 90px;
    }
    .detail-article-container {
        width: 95%;
    }

    .profile-user-container-left {
        float: left;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }
    .profile-user-container-left-box {
        padding-right: 5%;
        border-right: 0px solid #e5e5e5;
        img {
            width: 30%;
            float: left;
        }
        button {
            padding: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            float: left;
        }
    }
    .about-the-author {
        clear: both;
        border-top: 1px solid #e5e5e5;
        padding-top: 10px;
        h3 {
            padding-top: 10px;
        }
        p {
            margin-bottom: 15px;
            padding-bottom: 0px;
            
        }
    }  
    .profile-user-container-right {
        float: left;
        width: 100%;
        height: auto;
        overflow: none;
    }
    .profile-user-container-right-box {
        width: 94%;
        p {
            padding-bottom: 40px;
        }
    }
}



// ============================
//   500px Media Query Begins
// ============================
@media screen and (max-width:500px) {
    .header-default-padding {
        height: 171px;
    }
    .logo {
        padding-top: 5px;
        padding-left: 5px;
        width: 307px;
    }
    .searchbar {
        padding-left: 5px;
        padding-top: 6px;
        margin-bottom: 2px;
        width: 95%;
    }
    .block-menu-container {
        height: 30px;
    }
    .lower-main-menu {
        padding-left: 6px;
        padding-right: 6px;
    }
    .second-menu {
        font-size: 0.750em;
    }
    .block {
        height: 30px;
        line-height: 30px;
    }
    .block-text {
        font-size: 1.000em;
    }
    .squarebox-size-one {
        height: 350px;
        & .squarebox-text-container {
            padding-top: 16px;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 1.700em;
        }
    }
    .squarebox-size-two {
        & .squarebox-text-container {
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 1.80em;
        }
    }
    .split-A {
        & p {
            padding-top: 0px;
        }
    }
    .split-B {
        & p {
            padding-top: 12px;
            padding-bottom: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .split-text-B {
        & p {
            font-size: 1.300em;
        }
    }
    .split-box-B-button {
        width: 90px;
        margin-top: 10px;
    }
    .split-C {
        & p {
            padding-top: 25px;
        }
    }
    .split-D {
        & p {
            padding-top: 27px;
        }
    }
    .split-text-D {
        font-size: 1.300em;
    }
    .bodybox-text-b {
        padding-top: 70px;
    }
    .detail-article-container {
        width: 100%;
    }
    .detail-profile-box-stats {
        width: 50%;
    }
    .detail-profile-box-image {
        width: 50%;
    }

}
// ============================
//   All Media Queries End
// ============================